<head>
    <link rel="stylesheet" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="/css/admin/events.css">
</head>

<header class="navbar">
    <div class="navbar-left">
        <span class="system-name">Sistema Escolar</span>
        <span class="admin-area">Área Administrativa</span>
    </div>
    <div class="navbar-right">
        <div class="user-profile">
            <span>Dona Admin</span>
        </div>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>

    </div>
</header>
<div class="main-content">
    <h3>Gerenciamento de Eventos</h3>

    <div id="panel-students" class="tab-content active">

        <div class="tabs-list" role="tablist" aria-label="Navegação do Painel Administrativo">
            <a href="/admin/" class="tab-button " id="tab-overview" role="tab" aria-selected="true"
                aria-controls="panel-overview">Visão Geral</a>
            <a href="/admin/student" class="tab-button" id="tab-students" role="tab" aria-selected="false"
                aria-controls="panel-students">Alunos</a>
            <a href="/admin/teacher" class="tab-button" id="tab-teachers" role="tab" aria-selected="false"
                aria-controls="panel-teachers">Professores</a>
            <a href="/admin/class" class="tab-button" id="tab-classes" role="tab" aria-selected="false"
                aria-controls="panel-classes">Turmas</a>
            <a href="#" class="active tab-button " id="tab-events" role="tab" aria-selected="false"
                aria-controls="panel-events">Eventos</a>
            <a href="/admin/repots" class="tab-button" id="tab-reports" role="tab" aria-selected="false"
                aria-controls="panel-reports">Relatórios</a>
            <a href="/admin/settings" class="tab-button" id="tab-settings" role="tab" aria-selected="false"
                aria-controls="panel-settings">Configurações</a>
        </div>
    </div>
    <section class="container-ddy">
        <div class="container">
            <div class="header">
                <div>
                    <h1 class="header-title">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2v-7H3v7a2 2 0 002 2z" />
                        </svg>
                        Gerenciar Eventos
                    </h1>
                    <p class="header-subtitle">Adicione, edite ou remova eventos do calendário escolar</p>
                </div>
                <button id="btnNovoEvento" class="button-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-button" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Novo Evento
                </button>
            </div>


            <div id="listaEventos" class="event-list">
                <div class="two-column-layout">
                    <section class="daily-agenda card">
                        <p class="subtitle">Eventos</p>
                        <ul>
                            <li>
                                <div class="agenda-item">
                                    <i class="fas fa-users"></i>
                                    <div>
                                        <strong>Reunião com coordenadores</strong>
                                        <small>Sala de apoio</small>
                                    </div>
                                </div>
                                <div class="agenda-item-icone">
                                    <span>11:00</span>
                                    <a href="#"><i class="fa-solid fa-xmark" style="color: #e01b24;"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="agenda-item">
                                    <i class="fas fa-handshake"></i>
                                    <div>
                                        <strong>Visita dos pais - 3º B</strong>
                                        <small>Sala 15</small>
                                    </div>
                                </div>
                                <div class="agenda-item-icone">
                                    <span>11:00</span>
                                    <a href="#"><i class="fa-solid fa-xmark" style="color: #e01b24;"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="agenda-item">s
                                    <i class="fas fa-user-plus"></i>
                                    <div>
                                        <strong>Entrevista novo professor</strong>
                                        <small>RH</small>
                                    </div>
                                </div>
                                <div class="agenda-item-icone">
                                    <span>11:00</span>
                                    <a href="#"><i class="fa-solid fa-xmark" style="color: #e01b24;"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="agenda-item">
                                    <i class="fas fa-gavel"></i>
                                    <div>
                                        <strong>Conselho de classe</strong>
                                        <small>Auditório</small>
                                    </div>
                                </div>
                                <div class="agenda-item-icone">
                                    <span>11:00</span>
                                    <a href="#"><i class="fa-solid fa-xmark" style="color: #e01b24;"></i></a>
                                </div>
                            </li>
                        </ul>

                    </section>

                </div>
            </div>
    </section>



</div>
<script src="/js/admin/events.js"></script>