<head>
    <link rel="stylesheet" href="/css/teacher/dashboard.css">
</head>

<header class="navbar">
    <div class="navbar-left">
        <span class="system-name">Sistema Escolar</span>
        <span class="admin-area">Área do Professor</span>
    </div>
    <div class="navbar-right">
        <div class="user-profile">
            <span>Dona Professoor</span>
        </div>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>

    </div>
</header>

<div class="main-content">
    <h3>Bem-vindo, Prof. Dona Dev!</h3>


    <div class="tabs-list" role="tablist" aria-label="Navegação do Painel Administrativo">
        <a href="#" class="tab-button active" id="tab-overview" role="tab" aria-selected="true"
            aria-controls="panel-overview">Dashboard</a>
        <a href="/teacher/Turmas" class="tab-button" id="tab-students" role="tab" aria-selected="false"
            aria-controls="panel-students">Turmas</a>
        <a href="/teacher/" class="tab-button" id="tab-teachers" role="tab" aria-selected="false"
            aria-controls="panel-teachers">Notas</a>
        <a href="/teacher/" class="tab-button" id="tab-classes" role="tab" aria-selected="false"
            aria-controls="panel-classes">Presença</a>
        <a href="/teacher/" class="tab-button" id="tab-events" role="tab" aria-selected="false"
            aria-controls="panel-events">Atividades</a>
        
    </div>

    <section class="overview-cards">
        <div class="card total-students">
            <div class="card-header">
                <span>Turmas</span>
                <i class="fas fa-user-graduate icon"></i>
            </div>
            <div class="card-body">
                <span class="number">2</span>
                <span class="detail">Total de turmas sob sua responsabilidade</span>
            </div>
        </div>
        <div class="card teachers-count">
            <div class="card-header">
                <span>Total de Alunos</span>
                <i class="fas fa-chalkboard-teacher icon"></i>
            </div>
            <div class="card-body">
                <span class="number">85</span>
                <span class="detail">Alunos em todas as turmas</span>
            </div>
        </div>
        <div class="card classes-count">
            <div class="card-header">
                <span>Média Geral</span>
                <i class="fas fa-chalkboard icon"></i>
            </div>
            <div class="card-body">
                <span class="number">7.5</span>
                <span class="detail">Média das suas turmas</span>
            </div>
        </div>


    </section>

    <div class="two-column-layout">
        <section class="daily-agenda card">
            <h2>Aulas</h2>
            <p class="subtitle">Aulas da semana</p>
            <ul>
                <li>
                    <div class="agenda-item">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div>
                            <strong>aula sala 3</strong>
                            <small>25/04/2002</small>
                        </div>
                    </div>
                    <div class="agenda-item-icone">
                        <span>11:00</span>
                    </div>
                </li>
                <li>
                    <div class="agenda-item">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div>
                            <strong>aula sala 3</strong>
                            <small>25/04/2002</small>
                        </div>
                    </div>
                    <div class="agenda-item-icone">
                        <span>11:00</span>
                    </div>
                </li>
                <li>
                    <div class="agenda-item">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div>
                            <strong>aula sala 3</strong>
                            <small>25/04/2002</small>
                        </div>
                    </div>
                    <div class="agenda-item-icone">
                        <span>11:00</span>
                    </div>
                </li>

            </ul>

        </section>


    </div>

</div>


</div>